.SearchBar {
    display: flex;
    flex-direction: column;
}

.SearchBar label {
    margin-bottom: 5px;
    font-size: 14px;
}

.SearchBar input {
    padding: 15px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .25);
    font-size: 20px;
    text-align: center;
}